In [9]:
import pandas as pd
import os

In [86]:
pwd

'C:\\Users\\91628\\Tata-Hackathon-2025\\data'

In [88]:
ls

 Volume in drive C has no label.
 Volume Serial Number is F248-05BE

 Directory of C:\Users\91628\Tata-Hackathon-2025\data

28-07-2025  18:12    <DIR>          .
28-07-2025  18:12    <DIR>          ..
28-07-2025  18:13    <DIR>          .ipynb_checkpoints
28-07-2025  17:20               760 RS_Session_266_AU_2960_B_i.csv
28-07-2025  17:15               768 RS_Session_267_AU_3266_2_0.csv
28-07-2025  17:22               128 RS_Session_267_AU_580_A.csv
28-07-2025  17:17             1,216 RS_Session_267_AU_581_C_i.csv
               4 File(s)          2,872 bytes
               3 Dir(s)  10,346,631,168 bytes free

In [90]:
df1=pd.read_csv("RS_Session_266_AU_2960_B_i.csv")
df2=pd.read_csv("RS_Session_267_AU_3266_2_0.csv")
df3=pd.read_csv("RS_Session_267_AU_580_A.csv")
df3=pd.read_csv("RS_Session_267_AU_581_C_i.csv")

In [194]:
df1=df1.sort_values(by="State/UT")

In [196]:
df1

                                    State/UT  No. of EVPCS
33               Andaman and Nicobar Islands             4
12                            Andhra Pradesh           601
27                         Arunachal Pradesh            41
16                                     Assam           276
15                                     Bihar           347
29                                Chandigarh            13
17                              Chhattisgarh           271
31  Dadra and Nagar Haveli and Daman and Diu             6
3                                      Delhi          1941
21                                       Goa           137
7                                    Gujarat           992
11                                   Haryana           709
22                          Himachal Pradesh           106
20                         Jammu and Kashmir           159
18                                 Jharkhand           256
0                                  Karnataka          5765
5                                     Kerala          1212
35                                    Ladakh             1
34                               Lakshadweep             1
9                             Madhya Pradesh           903
1                                Maharashtra          3728
24                                   Manipur            46
25                                 Meghalaya            43
30                                   Mizoram            12
28                                  Nagaland            28
14                                    Odisha           488
26                                Puducherry            41
13                                    Punjab           593
6                                  Rajasthan          1129
32                                    Sikkim             5
4                                 Tamil Nadu          1413
8                                  Telangana           956
36                        Total EVPCS (Nos.)         25202
23                                   Tripura            50
2                              Uttar Pradesh          1989
19                               Uttarakhand           177
10                               West Bengal           763

In [200]:
df1=df1.set_index("State/UT")

In [202]:
df1

                                          No. of EVPCS
State/UT
Andaman and Nicobar Islands                          4
Andhra Pradesh                                     601
Arunachal Pradesh                                   41
Assam                                              276
Bihar                                              347
Chandigarh                                          13
Chhattisgarh                                       271
Dadra and Nagar Haveli and Daman and Diu             6
Delhi                                             1941
Goa                                                137
Gujarat                                            992
Haryana                                            709
Himachal Pradesh                                   106
Jammu and Kashmir                                  159
Jharkhand                                          256
Karnataka                                         5765
Kerala                                            1212
Ladakh                                               1
Lakshadweep                                          1
Madhya Pradesh                                     903
Maharashtra                                       3728
Manipur                                             46
Meghalaya                                           43
Mizoram                                             12
Nagaland                                            28
Odisha                                             488
Puducherry                                          41
Punjab                                             593
Rajasthan                                         1129
Sikkim                                               5
Tamil Nadu                                        1413
Telangana                                          956
Total EVPCS (Nos.)                               25202
Tripura                                             50
Uttar Pradesh                                     1989
Uttarakhand                                        177
West Bengal                                        763

In [204]:
df2.head()

,Sl. No.,State/UT,No. of Electric Vehicle (EV) Charging Stations Installed
0,1,Andaman and Nicobar Islands,7
1,2,Andhra Pradesh,1309
2,3,Arunachal Pradesh,53
3,4,Assam,518
4,5,Bihar,818

In [210]:
df2=df2.drop(columns='Sl. No.')

In [214]:
df2=df2.set_index("State/UT")

In [216]:
df2

                             No. of Electric Vehicle (EV) Charging Stations Installed
State/UT
Andaman and Nicobar Islands                                                  7
Andhra Pradesh                                                            1309
Arunachal Pradesh                                                           53
Assam                                                                      518
Bihar                                                                      818
Chandigarh                                                                  22
Chhattisgarh                                                               571
Dadra and Nagar Haveli                                                      18
Delhi                                                                      358
Goa                                                                         85
Gujarat                                                                   1470
Haryana                                                                   1287
Himachal Pradesh                                                           165
Jammu and Kashmir                                                          197
Jharkhand                                                                  458
Karnataka                                                                 1972
Kerala                                                                     834
Ladakh                                                                      15
Lakshadweep                                                                  1
Madhya Pradesh                                                            1328
Maharashtra                                                               2010
Manipur                                                                     69
Meghalaya                                                                   81
Mizoram                                                                     18
Nagaland                                                                    47
Odisha                                                                     893
Pondicherry                                                                 36
Punjab                                                                    1064
Rajasthan                                                                 1901
Sikkim                                                                      13
Tamil Nadu                                                                2434
Telangana                                                                 1313
Tripura                                                                     58
Uttar Pradesh                                                             2901
Uttarakhand                                                                252
West Bengal                                                               1276
Total                                                                    25852

In [220]:
dfmerge1=pd.merge(df1,df2,how="inner",on="State/UT")

In [222]:
dfmerge1.head()

,No. of EVPCS,No. of Electric Vehicle (EV) Charging Stations Installed
State/UT,,
Andaman and Nicobar Islands,4,7
Andhra Pradesh,601,1309
Arunachal Pradesh,41,53
Assam,276,518
Bihar,347,818

In [230]:
df3=df3.drop(columns="Sl. No.").set_index("State/UT")

In [238]:
df4=df4.drop(columns="Sl. No.").set_index("State/UT")

In [240]:
dfmerge2=pd.merge(df3,df4,how="inner",on="State/UT")

In [248]:
dfmerge2=dfmerge2.drop(columns=["EV Charging Stations under FAME-II Subsidy Scheme - No. of EV Charging Stations energized as on 01-01-2025_y","Total No. of EV charging stations installed by OMCs from their own funds as on 01-01-2025_y",'EV Charging Stations under FAME-II Subsidy Scheme - No. of EV Charger installed as on 01-01-2025_y'])

In [252]:
df=pd.merge(dfmerge1,dfmerge2,how='inner',on='State/UT')

In [254]:
df

,No. of EVPCS,No. of Electric Vehicle (EV) Charging Stations Installed,EV Charging Stations under FAME-II Subsidy Scheme - No. of EV Charger installed as on 01-01-2025_x,EV Charging Stations under FAME-II Subsidy Scheme - No. of EV Charging Stations energized as on 01-01-2025_x,Total No. of EV charging stations installed by OMCs from their own funds as on 01-01-2025_x
State/UT,,,,,
Andaman and Nicobar Islands,4,7,0,0,6
Andhra Pradesh,601,1309,354,20,912
Arunachal Pradesh,41,53,2,0,52
Assam,276,518,83,2,448
Bihar,347,818,58,2,517
Chandigarh,13,22,0,0,23
Chhattisgarh,271,571,30,1,498
Delhi,1941,358,41,5,316
Goa,137,85,9,0,70
Gujarat,992,1470,312,50,1104
Haryana,709,1287,366,3,1068
Himachal Pradesh,106,165,21,0,136
Jammu and Kashmir,159,197,23,0,170
Jharkhand,256,458,116,0,349
Karnataka,5765,1972,370,3,1516
Kerala,1212,834,208,0,679
Ladakh,1,15,0,0,11
Lakshadweep,1,1,0,0,1
Madhya Pradesh,903,1328,154,6,1114
Maharashtra,3728,2010,431,121,1595
Manipur,46,69,8,0,57
Meghalaya,43,81,25,0,54
Mizoram,12,18,2,0,16
Nagaland,28,47,10,0,41
Odisha,488,893,114,0,661
Punjab,593,1064,151,2,828
Rajasthan,1129,1901,351,7,1482
Sikkim,5,13,1,0,12
Tamil Nadu,1413,2434,444,6,1448
Telangana,956,1313,238,1,1051
Tripura,50,58,1,0,55
Uttar Pradesh,1989,2901,269,10,2561
Uttarakhand,177,252,41,4,212
West Bengal,763,1276,280,7,933

In [258]:
df.describe()

,No. of EVPCS,No. of Electric Vehicle (EV) Charging Stations Installed,EV Charging Stations under FAME-II Subsidy Scheme - No. of EV Charger installed as on 01-01-2025_x,EV Charging Stations under FAME-II Subsidy Scheme - No. of EV Charging Stations energized as on 01-01-2025_x,Total No. of EV charging stations installed by OMCs from their own funds as on 01-01-2025_x
count,34.000000,34.000000,34.000000,34.000000,34.000000
mean,739.852941,758.764706,132.735294,7.352941,588.117647
std,1182.789208,804.136015,149.806200,22.050744,627.027657
min,1.000000,1.000000,0.000000,0.000000,1.000000
25%,43.750000,60.750000,8.250000,0.000000,54.250000
50%,273.500000,488.000000,49.500000,0.500000,398.500000
75%,942.750000,1303.500000,261.250000,4.750000,1021.500000
max,5765.000000,2901.000000,444.000000,121.000000,2561.000000